<footer>
    <p>Follow me on social media</p>
  
    <ul class="social-icons">
      <li><a href="https://www.linkedin.com" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
      <li><a href="https://www.facebook.com" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i> Facebook</a></li>
      <li><a href="https://twitter.com" target="_blank" title="Twitter"><i class="fab fa-twitter"></i> Twitter</a></li>
      <li><a href="https://www.instagram.com" target="_blank" title="Instagram"><i class="fab fa-instagram"></i> Instagram</a></li>
    </ul>
  
    <p>&copy; 2024 Your Name. All rights reserved.</p>
  </footer>
