<head>
    <style>.wf-force-outline-none[tabindex="-1"]:focus{outline:none;}</style>
    <title>
        Matthew Coppard | Computer Scientist 
    </title>
</head>
<body class=home>
    <header class="head">
        <div class="continer" id="container intro">
            <h1 class="h1" id="name">Matthew Coppard</h1>
            <h3 class="h3">
                Computer scientist with a strong foundation in programming, web development, 
                and cybersecurity. I thrive on building seamless digital experiences, designing 
                secure solutions, and crafting scalable, high-performance web applications. Based in the UK
            </h3>
        </div>
    </header>

    <section class="section" id="showcase">
    <div class="container" id="work">
        <h2 class="h2">previous work</h2>
        <div role="list" class="work-list">
            <div role="listitem" class="work-item"><p>insert waqqly</p></div>
            <div role="listitem" class="work-item"><p>insert tracker</p></div>
            <div role="listitem" class="work-item"><p>insert java</p></div>
        </div>
    </div>
    </section>

    <section class="section" id="bio"> 
        <div class="container">
            <div id="profile-picture"><img src="/src/profile.jpg"></div>
            <div class="matt-bio">
                <h2 class="h2"> Who is Matt </h2>
                <p class="paragraph">
                  insert bio here  
                </p>
            </div>
        </div>
    </section>
</body>
